<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <!-- icon  -->
    <link rel="stylesheet" href="../assets/scss/icofont/icofont.min.css" />
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    /> -->
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container login">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4 col-12 d-flex flex-column align-items-center">
          <img
            src="../assets/images/sparkler.png"
            alt="logo"
            class="mb-4 mt-15"
          />

          <h3 class="fs-6 fw-bold mb-4">會員登入</h3>

          <form action="index.php" method="post">
            <label for="myAccount">帳號</label>
            <input
              id="myAccount"
              name="myAccount"
              type="text"
              placeholder="請輸入帳號"
              class="mb-4"
            />
            <br />
            <label for="password">密碼</label>
            <input
              id="password"
              name="password"
              type="password"
              placeholder="請輸入密碼"
              class="mb-8"
            />
            <br />
            <div
              class="btn btn-primary d-flex align-items-center justify-content-center py-2"
            >
              <p class="me-1 fs-5 fw-bold">登入</p>
              <i class="icofont-rounded-double-right"></i>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
